
<!--video-->

<div class="video-background-holder">
            <video playsinline="playsinline" autoplay="autoplay" muted  loop="loop" >
       
            <source src="~/images/video-first.mp4" type="video/mp4" />
           
           </video>
</div>
<a class="btn btn-warning" style="margin-left:45%" href="~/images/aboutus-video.mp4" type="video/mp4" role="button"> PLAY VIDEO </a>
 <br /><br />

<!-- Topic Cards -->
<div id="cards_landscape_wrap-2">
 <br /><br /><br />
<div class="row">
        <h1 class="title"> New Arrivals </h1>
</div>
    
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                <img src="~/images/gold-kangaroo-coin.jpg" alt=""/>
                                </div>
                                <div class="text-container">
                                <h6>Gold Kangaroo Coin</h6>
                                <p>2022 1 oz Australian Gold Kangaroo Coin BU.</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                <img src="~/images/silver_australian_koala.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                <h6>Silver Koala 
                                    Coin</h6>
                                <p>
                                    2022 1 Kilo Australian Silver Koala Coin (BU)
                                    
                                </p>
                                </div>
                            </div>
                        </div>
                    
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                <img src="~/images/watch-2022.jpg" alt=""/>
                                </div>

                                <div class="text-container">
                                <h6>Laurent Ferrier</h6>
                                <p>This watch sports a blue gradient dial with 18k white gold hands and
                                    index dial markers covered by scratch resistant sapphire crystal.</p>
                                </div>
                            </div>
                        </div>
                  
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                   
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                <img src="~/images/collecttion-freedom-of-speech.jpg" />
                                </div>
                                <div class="text-container">
                                    <h6>Freedom of Speech</h6>
                                   <p>2022 First Amendment to the United States Constitution Platinum Proof Coin –Freedom of Speech</p>
                                </div>
                            </div>
                        </div>
                  
                </div>
            </div>
        </div>
    </div>
<br /><br />
<!--Our story-->
         <div class="row">
             <h1 class="title"> Our Story </h1>
          </div>
<br />
<div class="row padding-64">
    <div class="col m6 padding-large hide-small">
        <img src="~/images/pic_GoldItems.jpg" class="round image pacity-min" alt="" width="600" height="480">
    </div>

    <div class="col m6 padding-large">
        <h1 class="center text-white">Why Choose Gold-N-Stones?</h1><br>
        <p class="large text-white">
            Gold-N-Stones is an online retailer of precious metals products,
            established in 2015.
            We deal exclusively in physical bullion, selling gold or silver,and Jewelry that is delivered directly to your door..<br />
            <br />
        </p>
        <p class="large text-white hide-medium"> Our customer service has been and will always be a priority.
            Should you have a question about prospective orders, orders in process, or completed orders,
            simply contact our phone support, or email support for a prompt response.
            We are always willing and able to assist you with an existing order or to answer any questions
            that you may have.</p>
    </div>

 </div>
  <!--contact us -->
     <br><br />
<footer id="contact-section">
     <div class="Contact"></div>
            <h3 class="title">Contact Us</h3>
                 <br><br>
                    <div class="wrapper">
                         <div class="form-box">
                             <form class="contact-form">
                                 <input type="text" class="form-input" placeholder="Your Full Name" />
                                 <input type="email" class="form-input" placeholder="Your Email" />
                                 <textarea class="form-input" placeholder="Enter Message"></textarea>
                                 <input class="form-btn" type="submit" value="Submit" />
                              </form>
                              <br />
                              <br />
                     </div>
        <a href="http:www.twitter.com"><img class="social-media" src="~/images/002-twitter.png" /> </a>   &ensp;
        <a href="http:www.facebook.com"><img class="social-media" src="~/images/003-facebook.png" /></a> &ensp;
        <a href="http:www.instagram.com"><img class="social-media" src="~/images/001-instagram.png" /></a>
     </div>
</footer>
